/* Section1 */
#word button{
    width: 130.53px;
    box-sizing: border-box;
    height: 36.63px;
    color: white;
    background-color: #F45201;
    border: 1px solid #F45201;
    border-radius: 5px;
    margin-top: 24.642px;
}
#word h4{
    font-weight: 900;
    font-size: 40px;
}
#word{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 329.67px;
}
#img1{
    display: flex;
    justify-content: flex-end;
}
/* section 2 */
#title{
    font-weight: 900;
    font-size: 29px;
}
.para{
    font-size: 24px;
    font-weight: 400;
    padding-right: 20px;
    display: flex;
    flex-wrap: wrap;
}
#group{
    width: 759px;
    height: 267px;
}
/* section 3 */
#main3{
    position: absolute;
    height: 648.684px;
    width: 715.9px;
    top: 1001.44px;
    left: 302.364px;
    padding: 0%;
}
#main3 h6{
    font-size: 13.32px;
    font-weight: 600;
}
#main3  div{
    padding: 0%;
}
#r1{
    height: 566.1px;
}
#i1{
    width: 103.56px;
    height: 180.5px;
    margin-top: 199.8px;
}
#i1 + h6{
    margin-left: 10px;
}
#i2{
    height: 167.832px;
    margin-top:59.274px;
    margin-left: 15px;
}
#i2 + h6{
    margin-left: 15px;
}
#i3{
    width: 104.552px;
    height: 168.832px;
    margin-top:69.294px;
    margin-left: 5px;
}
#i3 + h6{
    margin-left: 15px;
}
#i4{
    width: 102.2px;
    height: 158.178px;
    margin-left: 67px;
}
#i4 + h6{
    margin-left: 75px;
}
#cen{
    width: 173.16px;
    height: 173.16px;
    top: 189.81px;
    margin-left: 37px;
}
#i5{
    width: 158.2px;
    height: 170.854px;
    margin-top: 27.306px;
    margin-left: 47px;
}
#i5 + h6{
    margin-left: 50px;
}
#i6{
    width: 114.552px;
    height: 167.832px;
    margin-top: 66.66px;
}
#i6 + h6{
    margin-left: 10px;
}
#i7{
    width: 94.232px;
    height: 173.832px;
    margin-top: 54.604px;
    margin-left: 15px;
}
#i7 + h6{
    margin-left: 30px;
}
#i8{
    width: 114.224px;
    height: 170.854px;
    margin-top: 199.8px;
    margin-left: 18px;
}
#i8 + h6{
    margin-left: 15px;
}
#main3 button{
    height: 36.63px;
    width: 130.536px;
    color: white;
    background-color: #F45201;
    border: 1px solid #F45201;
    border-radius: 6px;
    font-size: 13.32px;
    margin-top: 15px;
}
#rect4{
    position: absolute;
    height: 869.796;
    width: 100%;
    top: 886.506px;
}
/* Section 4 */
#main4{
    position: absolute;
    height: 775.89px;
    width: 755.91px;
    top: 1716.3px;
    padding: 0%;
    left: 254.412px;
}
#rect5{
    width: 282.3px;
    height: 329.67px;
}
#rect6{
    position: absolute;
    top:0px;
    width: 470.24px;
    height: 344.3px;
    left: -10px;
}
#rect7{
    position: absolute;
    left: 50.958px;
    width: 370.612px;
    height: 253.408px;
    top: 38.966px;
}
#main4 h3{
    font-weight: 900;
}
#text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 329.67px;
    padding-left: 70px;
}
#main4 button{
    width: 130.53px;
    box-sizing: border-box;
    height: 36.63px;
    background-color: white;
    color: #F45201;
    border: 1px solid #F45201;
    border-radius: 5px;
    margin-top: 12px;
}
.box{
    border:1px solid #55D3DC;
    width: 238.428px;
    height: 113.22px;
    display: flex;
    align-items: center;
    border-radius: 6px;
    padding: 0%;
}
#main4 .col-4{
    padding-left: 0%;
}
.box h6{
    width:110.232px;
    font-size: 15.984;
    font-weight: 700;
    padding-left: 16px;
}
.box img{
    height: 65.1px ;
    width: 56.38px;
}
.box div:first-of-type{
    background-color: #55D3DC;
    opacity: 32%;
    width: 87.9px;
    height: 113.22px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
}

@media(min-width:768px) and (max-width:992px) {
    #word h4{
        font-weight: 900;
        font-size: 32px;
    }
    .para{
        font-size: 24px;
        font-weight: 400;
    }
}
@media(max-width:768px){
    #word{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #img1{
        display: flex;
        justify-content:center;
    }
}
@media(min-width:992px) and (max-width:1600px){
    #word h4{
        font-weight: 900;
        font-size: 36px;
    }
}