/* Section1 */
#word button{
    width: 196px;
    box-sizing: border-box;
    height: 55px;
    color: white;
    background-color: #F45201;
    border: 1px solid #F45201;
    border-radius: 5px;
    margin-top: 24.642px;
    font-size: 20px;
}
#word h4{
    font-weight: 900;
    font-size: 40px;
}
#word{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 329.67px;
}
#img1{
    display: flex;
    justify-content: flex-end;
}
/* section 2 */
#title{
    font-weight: 900;
    font-size: 29px;
}
.para{
    font-size: 24px;
    font-weight: 400;
    padding-right: 20px;
    display: flex;
    flex-wrap: wrap;
}
#group{
    width: 759px;
    height: 267px;
}
/* section 3 */
#r1 h6{
    font-size: 20px;
    font-weight: 600;
}
#r1 .col-2, #r1 .col-4{
    display:flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
}
#i1{
    width: 158.56px;
    height: 240.5px;
}
#i2{
    height: 227px;
    width: 160px;
}
#i3{
    width: 156.552px;
    height: 220px;
}
#i4{
    width: 154.89px;
    height: 217px;
}
#cen{
    width:259px;
    height: 259px;
}
#i5{
    width: 240.2px;
    height: 240.854px;
}
#i6{
    width: 160.224px;
    height: 229px;
}
#i7{
    width: 135px;
    height: 230px;
}
#i8{
    width: 165.224px;
    height: 229px;
}
#main3 {
    height: 55px;
    width: 196px;
    color: white;
    background-color: #F45201;
    border: 1px solid #F45201;
    border-radius: 6px;
    font-size: 20px;
    margin-top: 15px;
}

/* Section 4 */
#one  .col-lg-4, 
#two .col-lg-4{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#img2{
    display: flex;
    justify-content: center;
}
#text h4{
    font-weight: 900;
    font-size: 40px;
}
#text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
#text button{
    width: 196px;
    box-sizing: border-box;
    height: 55px;
    background-color: white;
    color: #F45201;
    border: 1px solid #F45201;
    border-radius: 5px;
    margin-top: 36px;
    font-size: 20px;
}
.box{
    border:1px solid #55D3DC;
    width: 358px;
    height: 170px;
    display: flex;
    align-items: center;
    border-radius: 6px;
    padding: 0%;
    margin-top:23px ;
}
.box h6{
    width: 170px;
    font-size: 24px;
    font-weight: 700;
    padding-left: 16px;
}
.box img{
    height: 65.1px ;
    width: 56.38px;
}
.box div:first-of-type{
    background-color: #55D3DC;
    opacity: 32%;
    width: 132px;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
}

@media(min-width:768px) and (max-width:992px) {
    #word h4, #text h4{
        font-weight: 900;
        font-size: 32px;
    }
    .para{
        font-size: 24px;
        font-weight: 400;
    }
}
@media(max-width:768px){
    #word{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
    }
    #img1{
        display: flex;
        justify-content:center;
    }
}
@media(min-width:992px) and (max-width:1600px){
    #word h4, #text h4{
        font-weight: 900;
        font-size: 36px;
    }
}